@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
    background-color: #CCCCCC;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    padding: 20px 0 0 0;
}

.hero-unit {
    background: #FFF;
}

.page-header {
    clear: both;
}

.thumbnail {
    height: 220px;
    margin: auto;
}

#info {
    height: 230px;
}

#info p{
    margin-top: 20px;
}

#contact h2, #contact ul {
    width: 250px;
}

#contact h2 {
    margin: 20px auto 0px auto;
}

#contact ul {
    margin: auto;
}

#contact li {
    line-height: 24px;
}

#contact li a {
    vertical-align: middle;
}