<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Maxime AILLOUD</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Blog de Maxime AILLOUD">
        <meta name="author" content="Maxime AILLOUD">

        <!-- styles -->
        <link href="styles/bootstrap.css" rel="stylesheet">
        <link href="styles/bootstrap-responsive.css" rel="stylesheet">
        <link href="styles/style.css" rel="stylesheet">

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="media/img/favicon.ico">
        <link rel="apple-touch-icon" href="media/img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="media/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="media/img/apple-touch-icon-114x114.png">
    </head>

    <body>

        <div class="container">

            <header class="mainHeader">
                <h1>Maxime AILLOUD</h1>
                <p class="lead">L'apprentissage à mon service, et au vôtre</p>

                <div class="subnav">
                    <ul class="nav nav-pills">
                      <li><a href="#">Articles</a></li>
                      <li><a href="#">Expérimentations</a></li>
                    </ul>
                </div>
            </header>

            <section class="postList">
                <div class="row">
                    <div class="span12">
                        <article id="post1">
                            <h1>Nobis enim impedit esse.</h1>
                            <header>Publié le <time datetime="04-02-2012" pubdate="">04-02-2012</time> par luc.gomes</header>
                            <p>
                                Sed quia nisi voluptate. Fugit et nobis expedita. Id sequi placeat sint. Asperiores quasi fugit quas.
                                Sunt harum odit hic. Ducimus maiores dolores hic sint.
                            </p>
                        </article>
                        <article id="post2">
                            <h1>Nobis enim impedit esse.</h1>
                            <header>Publié le <time datetime="04-02-2012" pubdate="">04-02-2012</time> par luc.gomes</header>
                            <p>
                                Sed quia nisi voluptate. Fugit et nobis expedita. Id sequi placeat sint. Asperiores quasi fugit quas.
                                Sunt harum odit hic. Ducimus maiores dolores hic sint.
                            </p>
                        </article>
                        <article id="post3">
                            <h1>Nobis enim impedit esse.</h1>
                            <header>Publié le <time datetime="04-02-2012" pubdate="">04-02-2012</time> par luc.gomes</header>
                            <p>
                                Sed quia nisi voluptate. Fugit et nobis expedita. Id sequi placeat sint. Asperiores quasi fugit quas.
                                Sunt harum odit hic. Ducimus maiores dolores hic sint.
                            </p>
                        </article>
                    </div>
                </div>
            </section>

            <footer class="mainFooter">
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>♡2012 by Maxime AILLOUD. Copying is an act of love. Please copy.</p>
            </footer>

        </div>

    </body>
</html>

