<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Maxime AILLOUD</title>
        <meta name="description" content="Blog de Maxime AILLOUD">
        <meta name="author" content="Maxime AILLOUD">

        <!-- styles -->
        <link href="styles/bootstrap.min.css" rel="stylesheet">
        <link href="styles/style.css" rel="stylesheet">

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="media/img/favicon.ico">
        <link rel="apple-touch-icon" href="media/img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="media/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="media/img/apple-touch-icon-114x114.png">
    </head>

    <body>

        <div class="container-fluid">
            {% include 'layouts/header.twig'%}

            <hr>

            {% include 'layouts/footer.twig'%}

        </div><!--/.fluid-container-->

    </body>
</html>

