<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Maxime AILLOUD</title>
        <meta name="description" content="Blog de Maxime AILLOUD">
        <meta name="author" content="Maxime AILLOUD">

        <!-- styles -->
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles/default.css">
    </head>
    <body>
        <div class="container">
            {{ content }}
            {% include 'layouts/footer.twig'%}
        </div>
    </body>
</html>

