<footer class="mainFooter row">
                <div class="span4">♡2012 by Maxime AILLOUD.</div>
                <div class="span3 offset7">
                    généré par <a href="http://www.phrozn.info/en/" title="Phrozn - Static Site Generator">Phrozn</a>
                    | hébergé par <a href="https://www.alwaysdata.com/" title="L'h">alwaysdata</a>
                </div>
            </footer>