<footer class="mainFooter">
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>♡2012 by Maxime AILLOUD. Copying is an act of love. Please copy.</p>
            </footer>