{% extends 'layout.html.twig' %}

{% block base %}
    <ul class="coverflow">
        <li><span>B</span></li>
        <li><span>I</span></li>
        <li><span>L</span></li>
        <li><span>L</span></li>
        <li><span>Y</span></li>
    </ul>

    {% block content %}{% endblock %}
{% endblock %}