{% extends 'base.html.twig' %}

{% block content %}
    <h1>Figurines</h1>

    <ul>
        <li><a href="#" title="link">Link</a></li>
        <li><a href="#" title="link">Link</a></li>
        <li><a href="#" title="link">Link</a></li>
        <li><a href="#" title="link">Link</a></li>
        <li><a href="#" title="link">Link</a></li>
        <li><a href="#" title="link">Link</a></li>
        <li><a href="#" title="link">Link</a></li>
        <li><a href="#" title="link">Link</a></li>
    </ul>

    <a href="{{ path('homepage') }}">Retour</a>
{% endblock %}