{% extends 'base.html.twig' %}

{% block content %}
    <h1>Figurines</h1>

    <ul>
        {% for figurine in figurines %}
            <li><a href="{{ figurine }}" title="{{ figurine }}">{{ figurine }}</a></li>
        {% endfor %}
    </ul>

    <a href="{{ path('homepage') }}">Retour</a>
{% endblock %}