{% extends 'base.html.twig' %}

{% block content %}
    <h1>Tee</h1>

    <ul>
        {% for tee in tees %}
            <li><a href="{{ tee }}" title="{{ tee }}">{{ tee }}</a></li>
        {% endfor %}
    </ul>

    <a href="{{ path('homepage') }}">Retour</a>
{% endblock %}