<footer class="mainFooter">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>♡2012 by Maxime AILLOUD</p>
            <p>
                généré par <a href="https://github.com/maxailloud/SG" title="SG - Static Site Generator">SG</a>
                | hébergé par <a href="https://www.alwaysdata.com/" title="L'h">alwaysdata</a>
            </p>
        </footer>